[submodule "dev/BinaryBuilder.jl"]
	path = dev/BinaryBuilder
	url = git@github.com:mortenpi/BinaryBuilder.jl.git
[submodule "HelFEM.jl"]
	path = dev/HelFEM.jl
	url = git@github.com:mortenpi/HelFEM.jl.git
